@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@600&display=swap');

// ? VAR
$inter: 'Inter',
sans-serif;
$monts: 'Montserrat',
sans-serif;

.dropdown-container {
  position: absolute;
  align-items: center;
  //background-image: linear-gradient(135deg, #4E54C8 0%, #8F94FB 100%);
  background-image: linear-gradient(46deg, #404040 0%, #525252 100%);
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px;

  hr {
    //background-color: #333333;
    height: 10px;
    border: none;
    margin: 0;
  }
}

.dropdown-item {
  font-family: $inter;
  font-weight: 200;
  font-size: 20px;
  text-align: left;
  color: white;
  //noinspection CssInvalidPropertyValue
  width: -webkit-fill-available;
  background: none;
  border: none;
  margin-bottom: 6px;
}

.dropdown-item:hover {
  opacity: 0.3;
}

.text-false {
  animation: rotate-r 0.3s linear both;
}

.text-true {
  animation: rotate 0.3s linear both;
}

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes rotate-r {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.dropdown-false {
  overflow: hidden;
  animation: moved 0.3s linear both;
}

.dropdown-true {
  animation: moveReversed 0.3s linear both;
}

.dropdown-mobile-false {
  overflow: hidden;
  animation: moved 0.3s linear both;
}

.dropdown-mobile-true {
  padding: 3vh 0 0 5vw;
  animation: moveReversed 0.3s linear both;
}

@keyframes moved {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes moveReversed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-mobile-container {
  align-items: flex-start;
  border: none;

  .dropdown-item:hover {
    opacity: 0.3;
  }

  hr {
    //background-color: #333333;
    height: 10px;
    border: none;
    margin: 0;
  }
}