@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@600&display=swap');

// ? VAR
$inter: 'Inter',
sans-serif;
$monts: 'Montserrat',
sans-serif;

.dropdown-container {
  position: absolute;
  align-items: center;
  background-image: linear-gradient(135deg, #4E54C8 0%, #8F94FB 100%);
  border: solid;

  .dropdown-item {
    font-family: $inter;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    color: black;
    width: inherit;
    background: none;
    border: black;
  }

  .dropdown-item:hover {
    background-color: #ffffff;
    opacity: 0.1;
  }
}

.dropdown-false {
  animation: moved 0.1s linear both;
}

.dropdown-true {
  visibility: visible;
  animation: moveReversed 0.1s linear both;
}

@keyframes moved {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveReversed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}