@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@600&display=swap');

// ? VAR
$inter: 'Inter',
sans-serif;
$white: #FFF;




.navbar-desktop {
  background-image: linear-gradient(46deg, #404040 0%, #525252 100%);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  width: 100vw;

  .logo {
    font-family: $inter;
    font-weight: 200;
    font-size: 56px;
    color: $white;
    background: none;
    border: none;
    padding: 1vh 1vw 0 1vw;
  }

  .section {
    font-family: $inter;
    font-weight: 200;
    font-size: 28px;
    color: $white;
    background: none;
    border: none;
    padding: 1vh 1vw 0 1vw;

    svg {
      margin-left: 3px;
    }
  }

  .section:hover, .logo:hover {
    opacity: 0.7;
  }

  .dropdown {
    display: inline-flex;
  }

  .logo:active,
  .section:active {
    animation: click 0.3s linear both;
  }
}

.navbar-desktop-hide {
  animation: move 0.5s linear both;
}

.navbar-desktop-show {
  animation: moveReverse 0.5s linear both;
}

.nav-desktop-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-desktop-links {
  display: flex;
}

@keyframes move {
  0% {
    transform: translateY(0) rotateX(0deg);
  }

  100% {
    transform: translateY(-150px) rotateX(-90deg);
  }
}

@keyframes moveReverse {
  0% {
    transform: translateY(-150px) rotateX(-90deg);
  }

  100% {
    transform: translateY(0) rotateX(0deg);
  }
}

// mobile

.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  z-index: 900;

  .logo {
    text-align: right;
    font-family: $inter;
    font-weight: 200;
    font-size: 48px;
    color: $white;
    background: none;
    border: none;
    padding: 1vh 1vw 0 1vw;
  }
}

.nav-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(46deg, #404040 0%, #525252 100%);
  transition: visibility .6s step-start;


  .exit {
    background: none;
    border: none;
    justify-items: right;
    padding: 1vh 1vw 0 1vw;
    width: fit-content;
  }

  .section {
    font-family: $inter;
    font-weight: 200;
    font-size: 28px;
    color: $white;
    background: none;
    border: none;
    padding: 3vh 0 0 5vw;
    text-align: left;
    width: fit-content;
  }
}

.nav-mobile-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu-mobile-show {
  animation: swipeIn .6s cubic-bezier(.165,.84,.44,1) forwards;
}

@keyframes swipeIn {
  0% {
    clip-path: polygon(101% 0%,100% 0%,101% 100%,116% 100%);
  }
  100% {
    clip-path: polygon(0% 0%,101% 0%,101% 101%,0% 101%);
  }
}

.nav-menu-mobile-hide {
  animation: swipeOut .6s cubic-bezier(.165,.84,.44,1) forwards;
}

@keyframes swipeOut {
  0% {
    clip-path: polygon(0% 0%,101% 0%,101% 101%,0% 101%);
  }
  100% {
    clip-path: polygon(105% 0%,100% 0%,101% 100%,100% 100%);
  }
}

.svg {
  width: 30px;
  height: 30px;
  fill: white;
  padding: 20px;
}

// ! BURGER NEEDS TO BE IMPLEMENTED
@media screen and (max-width: 1100px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }
}
