@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@600&display=swap');

// ? VAR
$inter: 'Inter',
sans-serif;
$white: #FFF;




.navbar-sticky {
  background-image: linear-gradient(46deg, #404040 0%, #525252 100%);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  width: 100vw;

  .logo {
    font-family: $inter;
    font-weight: 200;
    font-size: 56px;
    color: $white;
    background: none;
    border: none;
    padding: 1vh 1vw 0 1vw;
  }

  .section {
    font-family: $inter;
    font-weight: 200;
    font-size: 28px;
    color: $white;
    background: none;
    border: none;
    padding: 1vh 1vw 0 1vw;

    svg {
      margin-left: 3px;
    }
  }

  .section:hover, .logo:hover {
    opacity: 0.7;
  }

  .dropdown {
    display: inline-flex;
  }

  .logo:active,
  .section:active {
    animation: click 0.3s linear both;
  }
}

.navbar-hide {
  animation: move 0.5s linear both;
}

.navbar-show {
  animation: moveReverse 0.5s linear both;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

@keyframes move {
  0% {
    transform: translateY(0) rotateX(0deg);
  }

  100% {
    transform: translateY(-150px) rotateX(-90deg);
  }
}

@keyframes moveReverse {
  0% {
    transform: translateY(-150px) rotateX(-90deg);
  }

  100% {
    transform: translateY(0) rotateX(0deg);
  }
}

// ! BURGER NEEDS TO BE IMPLEMENTED
@media screen and (max-width: 1100px) {

}