@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@600&display=swap');

// ? VAR 
$inter: 'Inter',
sans-serif;
$monts: 'Montserrat',
sans-serif;


// ? GLOBAL
html,
body {
  padding: 0;
  margin: 0;
  background-color: #333;
}

main {
  padding: 0;
}

.content {
  padding: 0 20% 0 20%;
}


// ? FONTS
p {
  font-family: $inter;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 32px;
  padding: 0;
  margin: 24px 0 0 0;

}

h1 {
  margin: 0;
  font-family: $inter;
  font-weight: 300;
  font-size: 64px;
}

h2 {
  margin: 0;
  font-family: $monts;
  font-size: 24px;
  color: #AEAEAE;
  letter-spacing: 22px;
  line-height: 38px;
  padding-bottom: 40px;
}

h3 {
  font-family: $inter;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
}


// ? HERO 
.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: calc(100vw - (100vw - 100%));

  background-image: linear-gradient(135deg, #4E54C8 0%, #8F94FB 100%);
  color: white;

  p {
    font-size: 24px;
    padding: 56px 0 0 0;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


// ? SKILLS
.section-divider {
  padding-top: 124px;

  p {
    max-width: 45ch;
  }
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
  padding-top: 16px;
  width: 100%;

  hr {
    width: 15%;
    margin: 0;
    border: 1px solid #AEAEAE
  }
}

.template-1 {
  height: 200px;
  width: 400px;
  background-color: white;
}

.project-content, .project-content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.project-content2 {
  background-color: #222222;
}

.portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.portfolio-item {
  flex-basis: auto;
  width: 250px;
  height: 250px;
  margin: 2% 0 2% 0;
}

.portfolio-container::after {
  content: '';
  width: 500px;
}
